

.command_button_content{
	font-weight: bold;
    min-width: 118px;
    display: inline-block;
    padding: 3px 8px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #096;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 2px 2px rgba(0,0,0,0.10);
    border-color: #c5c5c5;
    border-color: rgba(0,0,0,0.08) rgba(0,0,0,0.1) rgba(0,0,0,0.15);
	background-color: #039be5;
}

.command_button_content:hover {
    color: #096;
    text-decoration: none;
    background-color: #f8f8f8;
    border: 1px solid #fbcb09;
    border-color: #c5c5c5;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.command_button_content{
	height: 36px;
	line-height: 28px;
	font-size: 16px;
	border: 1px #526DFF solid;
	background:#526DFF;
	color: #fff!important;
	text-shadow: none;
	border-radius: 0px;
	min-width: 95px;
}

.scroll_tip.left{
	top: 36px;
}

.command_button_content:hover{
	color:#526DFF!important;
	background: #fff;
}
li.command_button{
	display: none;
}
.btn_group li {
	height: 36px;
	display: inline-block;
	margin: 0 10px;
	position: relative;
}

.button_div{
	height: 70px;
	position: fixed;
	background: rgba(0,0,0,0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
	width: 100%;
	z-index: 100;
	bottom: 0px;
	padding-top: 18px;
}
.button_div.toEnd{
	bottom: 200px;
	background: none;
}
.button_div a{
	display: block;
	height: 36px;
	width: 118px;
	background:#526DFF;
	margin:0 auto;
	color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
}
.button_div a.noClick{
	background: #ccc;
}
.button_div a:hover{
	text-decoration: none;
	
}
.btn_group{
    height: 70px;
    position: fixed;
    background: rgba(0,0,0,0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    width: 100%;
    z-index: 10000;
    bottom: 0px;
    text-align: left;
    padding-top: 18px;
}
.btn_group.btn_toEnd{
	background: none;
	position: static;
	height: 40px;
	padding: 0px;
}
.btns{
	height: 40px;
}

#title_holder.todo {
    background-color:#990099;
}

#title_holder.doing {
    background-color: #990099;
}

#title_holder.complete {
    background-color:#990099;
}

#title_holder.terminated {
    background-color: #990099;
}

#title_holder.offline {
    background-color: #990099;
}

#title_holder.admin {
    background-color:#990099;
}

#title_holder.entrust {
    background-color: #990099!important;
}

#title_holder.preview {
    background-color: #990099;
}

#command_bar_title_icon.todo {
    background-color: #990099;
}

#command_bar_title_icon.doing {
    background-color: #990099;
}

#command_bar_title_icon.complete {
    background-color: #990099;
}

#command_bar_title_icon.terminated {
    background-color: #990099;
}

#command_bar_title_icon.offline {
    background-color: #990099;
}

#command_bar_title_icon.entrust {
    background-color: #990099!important
}

#command_bar_title_icon.admin {
    background-color: #990099;
}


.form_milestone_step .floater.green {
    background-color: #c681cc
}

.form_milestone_step .floater.yellow {
    background-color: #f9a825
}

.form_milestone_step .floater.blue {
    background-color: #990099
}

.form_milestone_step .floater.gray {
    background-color: #ccc
}

.form_milestone_step.green {
    background-color: #c681cc
}

.form_milestone_step.yellow {
    background-color: #f9a825
}

.form_milestone_step.blue {
    background-color: #990099
}

.form_milestone_step_arrow.green {
    border-color: transparent transparent transparent #c681cc
}

.form_milestone_step_arrow.blue {
    border-color: transparent transparent transparent #990099
}

.form_milestone_step_arrow.gray {
    border-color: transparent transparent transparent #ccc
}

.form_milestone_step_arrow.yellow {
    border-color: transparent transparent transparent #f9a825
}


.form_milestone_step_arrow_li.green {
    background-color: #c681cc
}

.form_milestone_step_arrow_li.blue {
    background-color: #990099
}

.form_milestone_step_arrow_li.gray {
    background-color: #ccc
}

.form_milestone_step_arrow_li.yellow {
    background-color: #f9a825
}